.even-detector-container{

}

.even-detector-title{
    font-size: 2em;
    /*text-align: center;*/
}

.value-indicator-container{
    width: 70%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.circle-indicator-container{
    /*height: 50px;*/
    width: 50px;
    display: flex;
    justify-content: center;
}

.circle-indicator{
    transition: background-color 250ms ease-in-out;
    background-color: whitesmoke;
    border-radius: 50%;
    width: 35px;
    height: 35px;
}

.even-detector-text{
    padding-bottom: 6px;
}

.circle-indicator.even{
    background-color: #00ff00af;
}

.circle-indicator.odd{
    background-color: #ff0000af;
}

.subscribe-container{
    /*height: 100%;*/
    width: 50px;

}

.bell{
    height: 100%;
    width: 100%;
}

.bell.subscribed{
    /*filter: hue-rotate(100deg);*/
}

.bell.unsubscribed{
    filter: hue-rotate(100deg);
}

.limit-container{
    padding: 13px;
    margin: 0;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 130px;
    border-radius: 20px;
    border: 0;
    right: 0;
    bottom: 0;
}

.limit-container:hover{
    background-color: #ffffff44;
    box-shadow: 5px 5px 20px #ffffff99;
}

.row-container{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

.limit-number-input{
    width: 20%;
}